body{
    background-color: aqua;
}
h1{
    background-color:orange;
    margin: 0;
    line-height: 2;
}
#showsketch
{
float: right;
margin-top: 20px;
margin-right: 20px;
}
p
{
    padding-top: 15px;
    font-size: 25px;
}
canvas
{
    border: 5px solid darkblue;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
margin-top: 100px;
}
@keyframes example
{
    from{ box-shadow: 1px 1px 38px yellow;}
    to{box-shadow: 1px 1px 38px purple;}
       
}